@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
/*

0px - 600px       = phone only

600px  - 900px    = tablet portrait

900px  - 1200px   = tablet landscape

[1200px  - 1800px]  = Desktop normaly style apply 

1800px -  ∞ px    = Big Desktop 
/////////////////////////////////////////////////////// 

phone 

tab-small

tab-big 

big-desktop
*/
/* animation */
*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }
