@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
/*

0px - 600px       = phone only

600px  - 900px    = tablet portrait

900px  - 1200px   = tablet landscape

[1200px  - 1800px]  = Desktop normaly style apply 

1800px -  ∞ px    = Big Desktop 
/////////////////////////////////////////////////////// 

phone 

tab-small

tab-big 

big-desktop
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(16px);
  padding: 2rem 4rem;
  border-bottom: 1px solid #374151;
  z-index: 9; }

/* animation */
.layout {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-column: 1 / -1; }

.header__partner {
  transform: translateY(-50%); }
  .header__partner span {
    top: 0;
    transform: translateY(-100%);
    position: absolute;
    padding: 0.4rem 2rem 0; }

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 70% 1fr; }
  body > * {
    grid-column: 2 / 3; }
