// color
$color-white: #fff;
$color-white-light: #f7f7f7;
$color-red: #ff0000;
$color-text-white: #f7f7f769;
$color-black: black;
$color-white-high: #ffffff;
$color-black-dark: #999;
// grid
// font
// shadow
$box-shodow-015: rgba($color-black, 0.15);
$box-shadow-rem-014: 0rem 1rem 4rem;

// border radios
$border-reduis-3px: 3px;
