*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;

  display: grid;
  grid-template-columns: 1fr 70% 1fr;

  & > * {
    grid-column: 2 / 3;
  }
}
