.layout {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-column: 1 / -1;
}

.header__partner {
  transform: translateY(-50%);
  span {
    top: 0;
    transform: translateY(-100%);
    position: absolute;
    padding: 0.4rem 2rem 0;
  }
}

.card {
  border: solid 1px transparent;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.05);
    border-color: rgb(101, 230, 207);
  }
}

.q {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background-color: rgb(101, 230, 207);
    border-radius: 200vmax;
  }
}
.q-gray {
  &::after {
    background-color: #ababab;
  }
}
